<div class="Maintitle" style="margin : 10px;border-bottom: black;border-bottom-width: 5px">
    <table>
        <tr >
            {{{imgicon title}}}
            <td style="text-align:center "><h4>List of Cases/Tasks Assigned to you</h4></td></tr></td>
    </table>

</div>
{{#if error}}
    <div class="alert alert-danger" role="alert">
        <strong style="text-transform: uppercase;">Error : </strong> {{error.sqlMessage}}
    </div>
{{/if}}

<div class="Maintitle" style="width: 100%;background: #F0FFFF">
    <div style="padding-right: 20px;padding-left: 20px;">

        <div class="imgcontainer">
            <img src="/public/images/buttonbackground.svg" alt="Snow" style="height: 50px;width:auto;">
            <div class="imgcentered"><a href="/s/Cases">Cases</a></div>
        </div>

        {{{tablegen cases_results 'Y' }}}
    </div>
    <div style="width:100%;height: 25px;border-top: 5px solid black;"></div>
    <div style="padding-right: 20px;padding-left: 20px;">
        <div class="imgcontainer">
            <img src="/public/images/buttonbackground.svg" alt="Snow" style="height: 50px;width:auto;">
            <div class="imgcentered"><a href="/s/Tasks">Tasks</a></div>
        </div>
        {{{tablegen tasks_results 'Y' }}}
    </div>
</div>