<div class="footer">

<footer class="container" style="text-align: center;background: lightgreen;border-radius: 25px;">
    <p>&copy; Licensed to
        <b class="ttip">Lohith Nimmala
            <span class="tttext">
                  <img src="/public/images/profile.JPG" width="100px" height="80px">
                </span>
        </b>,developed as part of GVSU MS in CIS Capstone Project , Allendale, Michigan 2018-2019
    </p>
</footer>
</div>
<link rel="stylesheet" href="/public/css/style.css">