{{> header }}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotrons" style="background: aqua;padding-top: 64px;padding-bottom: 15px;">
        <div class="container" style="margin-top: 5px;background: #F0FFFF;border-radius: 25px;">
            <h1 class="display-5" >OpenNEMCRM</h1>
            <p style="text-align: justify;padding: 10px;">
                An opensource CRM which will straight away gives you a predefined CRM application to your Organisation with certain standard CRM business process already established in it.
            </p>
            <p style="text-align: justify;padding: 10px;">Some CRM entities which are common irrespective of type of domain of industry, these entities will be pre-defined and as stored in a common table for different Organization, but each organization will be able to see only their own records and Our customer can create more entities and customize the predefined as well as customer defined entities.</p>
         <!--   <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
            <p style="text-align: justify;padding: 10px;">To know more about this App checkout the demo videos available here <a href="https://www.youtube.com/watch?v=AwBCU8EOte4&list=PLAlScwFeQd3AhBDoVucKJqp-40t4bpDDj">DemoVideos<a></p>
            <p style="text-align: justify;padding: 10px;">Development is still in progress with lot of other features will be added in future <p>

        </div>
    </div>
    <div style="margin-top : 15px;background: aqua">
        <h2>Features</h2>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4" style="background: #c2d4fd;border-radius: 25px;">
                    <h2>*</h2>
                    <p style="text-align: justify;">Customer will also be able to establish the business rules on each of these entities. Most demanding business in the CRM is case management and task management which will let user to define some rules on these entities to automate the CRM service in their application using java script functions defined and tied to respective entity</p>
                    <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
                </div>
                <div class="col-md-4" style="background: azure;border-radius: 25px;">
                    <h2>**</h2>
                    <p style="text-align: justify;">Users of particular organization will be created and its business customization will be managed by User whose profile is Admin and they can create additional profiles which will help them in customize the user access rights on each entity and their fields</p>
                    <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
                </div>
                <div class="col-md-4" style="background: lightblue;border-radius: 25px;">
                    <h2>***</h2>
                    <p style="text-align: justify;">All the records will be saved in our own MySQL Database so customer don’t need to maintain any webserver or database server to maintain their application ,business logic and their records</p>
                    <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
                </div>
            </div>

            <hr>

        </div> <!-- /container -->
    </div>
</main>


{{> footer }}
</body>
</html>
