{{> header }}
<div class="container">
<h1>{{title}}</h1>

    {{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger" role="alert">
            <strong style="text-transform: uppercase;">{{this.param}}</strong> {{this.msg}}
        </div>
        {{/each}}
    {{/if}}

<p>Welcome to {{title}}</p>

    <form method="post" action="/register">

        <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" placeholder="username">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Enter email">
        </div>


        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="password">

        </div>

        <div class="form-group">
            <label for="passwordMatch">Confirm Password</label>
            <input type="password" name="passwordMatch" class="form-control" placeholder="password">

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{{> footer }}