{{> header }}




<div class="jumbotrons" style="background: aqua;padding-top: 64px;padding-bottom: 15px;">
    <div class="container" style="margin-top: 5px;background: #F0FFFF;border-radius: 25px;">
        <h1 class="display-5" >OpenNEMCRM</h1>
        <p style="text-align: justify;padding: 10px;">
            Due to Lot of Registrations from different people being done , as of now Registration for new users is kept on hold </p>
        <p style="text-align: justify;padding: 10px;"> If you are interested in Practical Demo of App and Technical Walkthrough
            Please reach me at lohith.gre@gmail.com or nimmalal@mail.gvsu.edu<p>
        <p style="color: red;">Development is still InProgress(prototype is ready interested people can reach me for Demo-Check Footer)</p>

    </div>
</div>




{{> footer }}